<a href="https://colab.research.google.com/github/Atharva-Sankhe/Compute_ML_task/blob/main/Compute_task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s1=[89,90,78,93,80]
s2=[90,91,85,88,86]
s3=[91,92,83,89,90.5]
s=zip(s1,s2,s3)
for x in s:
    y= sum(x)/3
    print(y)

90.0
91.0
82.0
90.0
85.5

In [ ]:
N= int(input())
mylist = []
for i in range(0,N):
    text = input().split()
    if text[0] == "insert":
        mylist.insert(int(text[1]),int(text[2]))
    elif text[0] == "print":
        print(mylist)
    elif text[0] == "remove":
        mylist.remove(int(text[1]))
    elif text[0] == "append":
        mylist.append(int(text[1]))
    elif text[0] == "sort":
        mylist.sort()
    elif text[0] == "pop":
        mylist.pop()
    else:
        mylist.reverse()

4
append 5
insert 1 6
reverse
print
[6, 5]

In [ ]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    stu_name = input()
    print(format(sum(student_marks[stu_name])/3,'.2f'))

2
Atharva 20 19 21
Sankhe 19 18 17
Atharva
20.00

In [ ]:
import re
def fun(s):    
    a = re.match(r'[a-zA-Z0-9_-]+@[a-zA-Z0-9]+\.[a-zA-Z]{1,3}$',s)
    return(a)

def filter_mail(emails):
    return list(filter(fun, emails))

if __name__ == '__main__':
    n = int(input())
    emails = []
    for _ in range(n):
        emails.append(input())

filtered_emails = filter_mail(emails)
filtered_emails.sort()
print(filtered_emails)

3
lara@hackerrank.com
brian-23@hackerrank.com
britts 54@hackerrank.com
['brian-23@hackerrank.com', 'lara@hackerrank.com']

In [ ]:
def mutate_string(string, position, character):
    return string[:position]+c+string[position+1:]

if __name__ == '__main__':
    s = input()
    i, c = input().split()
    s_new = mutate_string(s, int(i), c)
    print(s_new)

abracadabra
5 k
abrackdabra

In [ ]:
x=[10,20,30,40,10]
y=[75,65,35,75,30]
if x[0]==x[-1]:
  print("First and last are equal")
else:
  print("First and last element are not equal")
if y[0]==y[-1]:
  print("First and last are equal")
else:
  print("First and last element are not equal")

First and last are equal
First and last element are not equal

In [ ]:
a=int(input("Enter the number of rows: "))
for i in range(a+1):
  for j in range(i):
    print(i,end=" ")
  print()

Enter the number of rows: 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5